<header class="st-navbar">
	<nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse main-nav" style="text-align: center;" id="sept-main-nav">
				<ul class="nav navbar-nav navbar-center" style="display: inline-block; float: none;"/">
					<li class="active"><a href="#home"><i class="fa fa-home" aria-hidden="true"></i></a></li>
					<li><a href="#equipe">Notre équipe</a></li>
					<li><a href="#service">Services</a></li>
					<li><a href="#forfaits">Nos forfaits</a></li>
					<li><a href="#partenaires">Nos Partenaires</a></li>
					<li><a href="#contact">Nous joindre</a></li>
					<!-- <li><a href="#reserver">Réservation</a></li> -->
				</ul>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
</header>