<% set_meta_tags title: 'Accueil', description: 'L’École de ski de fond Le Coureur offre des leçons privées, individuelles ou en groupe de 2 à 4 skieurs, en technique classique ou pas de patin, de niveau débutant à confirmé. Les leçons sont offertes au Parc National du Mont-Orford.' %>

<section class="home" id="home" data-stellar-background-ratio="0.4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="st-home-unit">
					<div class="hero-txt">
						<p class="hero-work">Classique - Pas de patin</p>
						<a><img src="photos/ecoledeskidefondlecoureur.png" style="height: 350px;background: rgba(0, 0, 0, 0.3);border-radius: 20px;"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mouse-icon">
		<div class="wheel"></div>
	</div>
</section>

<!-- NOTRE EQUIPE -->
<section class="about" id="equipe">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title st-center">
					<h3>Notre équipe</h3>
					<p>Des moniteurs passionnés</p>
				</div>
				<div class="row mb90">
					<div class="col-sm-12" style="text-align: center;">
						<p>L’École de ski de fond Le Coureur est le rassemblement de plusieurs moniteurs certifiés de la région de l’Estrie en partenariat avec la boutique Le Coureur de Sherbrooke. Elle a été créée en janvier 2011 de l’initiative de Carmen Archambault, monitrice depuis de nombreuses années et très impliquée dans le milieu du ski de fond au Canada.</br>L’École de ski de fond Le Coureur a pour mission de développer le ski de fond en Estrie en partageant ses connaissances techniques et sa passion du ski classique et pas de patin au plus grand nombre en offrant des formations individuelles ou en groupe.</br>Offrez une leçon de ski de fond pour Noel ou un anniversaire: vous trouverez des certificats cadeaux de l’École à la Boutique Le Coureur.</p>
					</div>
				</div>
				<div class="row mb90">
					<div class="col-md-4">
						<div class="st-member">
							<div class="st-member-img">
								<img src="photos/moniteur/carmen.jpg" alt="" class="img-responsive">
							</div>
							<div class="st-member-info">
								<strong class="st-member-name">Carmen Archambault</strong>
								<p class="st-member-pos">Moniteur</p>
								<div class="skill">
									<p>Monitrice de ski de fond CANSI niveau 4 et formatrice pour tous les niveaux</br> Entraineur niveau 2 PNCE J’aime l’hiver , je skie presque tous les jours. Classique ou patin selon les conditions optimales. Professeure d’éducation physique
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="st-member">
							<div class="st-member-img">
								<img src="photos/moniteur/isa.jpg" alt="" class="img-responsive">
							</div>
							<div class="st-member-info">
								<strong class="st-member-name">Isabelle Creusot</strong>
								<p class="st-member-pos">Moniteur</p>
								<div class="skill">
									<p>CANSI niveau 1</br>Voyages au Nunavik comme guide et monitrice.</br>Passionnée de l’hiver et du ski de fond, pas de patin et classique aussi bien en entrainement qu’en loisirs avec des amis.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="st-member">
							<div class="st-member-img">
								<img src="photos/moniteur/michel.jpg" alt="" class="img-responsive">
							</div>
							<div class="st-member-info">
								<strong class="st-member-name">Michel Lemieux</strong>
								<p class="st-member-pos">Moniteur</p>
								<div class="skill">
									<p>Passionné par le ski de fond, je le pratique depuis plus de 30 ans. J’ai participé à quelques compétitions, mais j’aime surtout les longues randonnées en forêt avec des amis. Moniteur Cansi, niveau 1.
									</p>
								</div>
							</div>
						</div>
					</div>  
				</div>

				<div class="row mb90">
					<div class="col-md-4">
						<div class="st-member">
							<div class="st-member-img">
								<img src="photos/moniteur/jf.png" alt="" class="img-responsive">
							</div>
							<div class="st-member-info">
								<strong class="st-member-name">J-F Longchamps</strong>
								<p class="st-member-pos">Moniteur</p>
								<div class="skill">
									<p>Passionné de ski et entraîneur personnel, j‘ai 3 années d’expérience en compétition de biathlon dans les Forces Armées. Certifié Niveau 2 avec CANSI, c’est dans le plaisir que je mettrai mon expérience et mes compétences à contribution afin de vous aider à atteindre vos objectifs personnels.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="st-member">
							<div class="st-member-img">
								<img src="photos/moniteur/clemence.jpg" alt="" class="img-responsive">
							</div>
							<div class="st-member-info">
								<strong class="st-member-name">Clémence Trudel</strong>
								<p class="st-member-pos">Moniteur</p>
								<div class="skill">
									<p class="text_left">Clémence Trudel, triathlète été comme hiver, éducatrice physique au collégial, </br>CANSI niveau 1 et PNCE communautaire en ski de fond.</p>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- Information sur la location -->
<section class="call-2-acction" data-stellar-background-ratio="0.4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="c2a">
					<h2>Parc National du Mont-Orford</h2>
					<p>Les leçons de ski sont offertes au Parc National du Mont-Orford.</p>
					<p>Il est toutefois possible d'offrir des cours à l'extérieur du Parc du Mont-Orford, moyennant des frais de déplacement de 0.5$/km</p>
					<a href="https://www.sepaq.com/dotAsset/13004.pdf" target="_blank" class="btn btn-main btn-lg">Voir la carte des sentiers</a>
					<a href="https://www.google.ca/maps/place/Mont-Orford+National+Park/@45.3345577,-72.2602823,13z/data=!4m8!1m2!2m1!1smont+orford!3m4!1s0x4cb633e1a5d9daad:0x60fa5ed97de4919c!8m2!3d45.3227754!4d-72.1881633" target="_blank" class="btn btn-main btn-lg">Comment s'y rendre</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- SERVICES -->
<section class="service" id="service">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title st-center">
					<h3>Services</h3>
					<p>Nous offrons des forfaits qui s'adressent à tous les niveaux</p>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="st-feature">
							<div class="st-feature-icon"><i class="fa fa-star-o"></i></div>
							<strong class="st-feature-title">Débutant</strong>
							<p>Vous n’avez jamais skié ou vous n’avez skié que quelques fois ou bien vous ne pouvez pas skier sans bâtons afin de conserver votre équilibre et vous êtes inconfortable dans les côtes</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="st-feature">
							<div class="st-feature-icon"><i class="fa fa-star-half-o"></i></div>
							<strong class="st-feature-title">Intermédiaire</strong>
							<p>Vous êtes à l’aise sur les skis, capable d’être en équilibre et de glisser sur une courte distance sans vos bâtons et vous pouvez rester en contrôle sur une pente modérée.</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="st-feature">
							<div class="st-feature-icon"><i class="fa fa-star"></i></div>
							<strong class="st-feature-title">Avancé</strong>
							<p>Vous pratiquez le sport depuis un moment et vous êtes très à l'aise sur vos skis.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="features-desc">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="pricing-table">
					<div class="pricing-header">
						<div class="pt-price"><i class="fa fa-list" aria-hidden="true"></i></div>
						<div class="pt-name">Liste des services offerts</div>
					</div>
					<div class="pricing-body">
						<ul>
							<li><i class="fa fa-check"></i> Technique classique</li>
							<li><i class="fa fa-check"></i> Technique pas de patin</li>
							<li><i class="fa fa-check"></i> Découvertes du parc du Mont-Orford</li>
							<li><i class="fa fa-check"></i> Technique de montées, descentes, virages</li>
							<li><i class="fa fa-check"></i> Cours de fartage</li>
							<li><i class="fa fa-check"></i> Leçon en français et anglais</li>
							<li><i class="fa fa-check"></i> Leçon pour groupes scolaires</li>
							<li><i class="fa fa-check"></i> Analyse vidéo*</li>
							<li><i class="fa fa-check"></i> Préparation pour course*</li>
							<li><i class="fa fa-check"></i> Plan d’entrainements*</li>
						</ul>
					</div>
					<div class="pricing-footer">
						<a href="#forfaits" class="btn btn-main">Voir nos forfaits</a>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<h3 class="bottom-line">Notre service et notre approche</h3>
				<p>L’École de ski de fond Le Coureur offre des leçons en technique classique ou pas de patin, pour tous les niveaux de skieurs. Des moniteurs certifiés vous aideront à améliorer votre technique et votre contrôle sur les pistes, les pentes et les virages. En fonction du nombre de skieurs, nos moniteurs utilisent une approche personnalisée et ludique afin de répondre à vos besoins.</p>
				<p>Notre but est de vous donner confiance, raffiner vos techniques de ski et rendre vos sorties plus agréables. Les leçons sont offertes au Parc National du Mont-Orford en semaine et fin de semaine sur rendez-vous.</p>
				<a href="#contact" class="btn btn-main btn-lg">Nous joindre</a>
			</div>
		</div>
	</div>
</section>

<!-- ?????? -->
<section class="call-2-acction" data-stellar-background-ratio="0.4">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="c2a">
					<h2>Besoin d'équipement?</h2>
					<a><img src="photos/le_coureur_logo_WHITE.png" style="width: 600px;padding-bottom: 20px;"></a>
					<p>Passez à la Boutique Le Coureur à sherbrooke afin d'obtenir des conseils d'expert.</p>
					<p>Les spécialistes du ski de fond en Estrie.</p>
					<a href="http://www.lecoureur.com/ski-de-fond.html" target="_blank" class="btn btn-main btn-lg">Voir</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- NOS FORFAITS -->
<section class="pricing" id="forfaits">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title st-center">
					<h3>Nos forfaits</h3>
					<p>Choisisez parmis nos forfaits</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="pricing-table">
					<div class="pricing-header">
						<div class="pt-price">Privé</div>
						<div class="pt-name">40$<small>/personne</small></div>
					</div>
					<div class="pricing-body">
						<ul>
							<li><i class="fa fa-check"></i> 1 personne</li>
							<!-- <li><i class="fa fa-check"></i> 1h15</li> -->
						</ul>
					</div>
					<div class="pricing-footer">
						<div class="pt-name"><i class="fa fa-clock-o"></i> 1h</div>
						<a href="#reserver" class="btn btn-main">Réservez</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="pricing-table">
					<div class="pricing-header">
						<div class="pt-price">Semi-Privé</div>
						<div class="pt-name">30$<small>/personne</small></div>
					</div>
					<div class="pricing-body">
						<ul>
							<li><i class="fa fa-check"></i> 2 personnes</li>
							<!-- <li><i class="fa fa-check"></i> 1h15</li> -->
						</ul>
					</div>
					<div class="pricing-footer">
						<div class="pt-name"><i class="fa fa-clock-o"></i> 1h15</div>
						<a href="#reserver" class="btn btn-main">Réservez</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="pricing-table">
					<div class="pricing-header">
						<div class="pt-price">Petit groupe</div>
						<div class="pt-name">25$<small>/personne</small></div>
					</div>
					<div class="pricing-body">
						<ul>
							<li><i class="fa fa-check"></i> 3 à 5 personnes</li>
						</ul>
					</div>
					<div class="pricing-footer">
						<div class="pt-name"><i class="fa fa-clock-o"></i> 1h30</div>
						<a href="#reserver" class="btn btn-main">Réservez</a>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="pricing-table">
					<div class="pricing-header">
						<div class="pt-price">Groupe</div>
						<div class="pt-name">20$<small>/personne</small></div>
					</div>
					<div class="pricing-body">
						<ul>
							<li><i class="fa fa-check"></i> 6 à 10 personnes</li>
							<!-- <li><i class="fa fa-check"></i> 2h00</li> -->
						</ul>
					</div>
					<div class="pricing-footer">
						<div class="pt-name"><i class="fa fa-clock-o"></i> 2h</div>
						<a href="#reserver" class="btn btn-main">Réservez</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container" style="padding-top: 50px;">
		<div class="row">
			<div class="col-md-12">
				<div class="st-center">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="pricing-table">
					<div class="pricing-header">
						<div class="pt-price">* Options de spécialisation</div>
						<div class="pt-name">Raffinez d'avantage votre technique<br><small>choisissez parmis les services suivants:</small></div>
					</div>
					<div class="pricing-body">
						<ul>
							<li><i class="fa fa-check"></i> Analyse Vidéo</li>
							<li><i class="fa fa-check"></i> Leçons données par Carmen Archambault</li>
							<li><i class="fa fa-check"></i> Préparation pour course</li>
							<li><i class="fa fa-check"></i> Plans d'entrainement</li>
						</ul>
					</div>
					<div class="pricing-footer">
						<div class="pt-name">50$<small>/heure</small></div>
						<div class="pt-name"><i class="fa fa-clock-o"></i> Durée sur mesure</div>
						<a href="#reserver" class="btn btn-main">Réservez</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- CARTE SENTIER   -->
<section class="call-us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Voir la carte des sentiers</h3>
				<a href="https://www.sepaq.com/dotAsset/13004.pdf" target="_blank" class="btn btn-default-o btn-lg">Voir carte</a>
			</div>
		</div>
	</div>
</section>

<!-- PARTENAIRE -->
<section id="partenaires" class="clients">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title st-center">
					<h3>Nos partenaires</h3>
					<div>
						<a href="http://www.lecoureur.com" target="_blank"><img src="photos/le_coureur_logo.png" class="img-responsive" style="padding-right: 20px;padding-left: 20px"></a>
						<a href="https://www.sepaq.com/pq/mor/" target="_blank"><img src="photos/Logo_Parc_national_du_Mont-Orford.png" class="img-responsive" style="padding-right: 20px;padding-left: 20px"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- NOUS JOINDRE -->
<section id="contact" class="subscribe">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="c2a">
					<h2>Nous joindre</h2>
					<ul class="subscribe-social">
						<li>
							<a href="https://www.facebook.com/Ecole-ski-de-fond-Le-Coureur-182107415162755/" target="_blank" class="social facebook"><i class="fa fa-facebook"></i> Suivez nous</a>
						</li>
						<li>
							<a href="mailto:ecoleskidefond@lecoureur.com" class="social rss"><i class="fa fa-envelope"></i>Courriel</a>
						</li>
						<li>
							<a href="tel:1(819)446-0901" class="social twitter"><i class="fa fa-phone"></i>1(819)446-0901</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- RESERVATION -->
<section class="contact" id="reserver">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title st-center">
					<h3>Réservation</h3>
					<p>Réservez votre place dès maintenant</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
      			<form action="https://getsimpleform.com/messages?form_api_token=60e70f6073a45858709e0c9a4bcc78ab" method="post">
					<div class="form-group">
						<label for="cours">Choix de cours:</label>
						<select name="cours" id="cours" class="form-control" style="height: 46px !important;" required="true">
							<option value="">Choisisez parmis les options suivantes...</option>
							<option>Privé</option>
							<option>Semi-Privé</option>
							<option>Petit Groupe</option>
							<option>Groupe</option>
							<option>Option de spécialisation</option>
						</select>
					</div>
					<div class="form-group">
						<label for="niveau">Niveau:</label>
						<select name="niveau" id="niveau" class="form-control" style="height: 46px !important;" required="true">
							<option value="">Choisisez parmis les options suivantes...</option>
							<option>Débutant</option>
							<option>Intermidiaire</option>
							<option>Avancé</option>
						</select>
					</div>
					<div class="form-group">
						<label for="type">Type de ski:</label>
						<select name="type" id="type" class="form-control" style="height: 46px !important;" required="true">
							<option value="">Choisisez parmis les options suivantes...</option>
							<option>Classique</option>
							<option>Pas de patin</option>
						</select>
					</div>
					<div class="form-group">
						<label for="dispo">Préférence de disponibilité:</label>
						<select name="dispo" id="dispo" class="form-control" style="height: 46px !important;" id="dispo" required="true">
							<option value="">Choisisez parmis les options suivantes...</option>
							<option>AM</option>
							<option>PM</option>
						</select>
					</div>
					<div class="form-group" required="true">
						<div class='input-group date' id='date'>
							<input name=date" type='text' class="form-control" placeholder="Sélectionnez une date" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<script type="text/javascript">
						$(function () {
							$('#date').datetimepicker({
								format: 'DD/MM/YYYY'
							});
						});
					</script>
					<input type="text" class="form-control" id="fname" name="nom" placeholder="Votre nom complet">
					<input type="email" class="form-control" id="email" name="email" placeholder="Votre E-mail">
					<input type="phone" class="form-control" id="phone" name="phone" placeholder="Numéro de téléphone">
					<textarea id="mssg" name="mssg" placeholder="Message" class="form-control" rows="10"></textarea>
					<button class="btn btn-main btn-lg" type="submit" id="send" data-loading-text="<i class='fa fa-spinner fa-spin'></i> En cours..."><i class="fa fa-paper-plane "></i> Envoyez</button>
				</form>
				<div id="result-message" role="alert"></div>
			</div>
			<div class="col-md-6">
				<p>Merci de remplir le formulaire ci-contre en nous fournissant les informations demandées.</p>

				<p>Soyez assurés que nous vous répondrons dans les plus brefs délais et que nous ferons notre possible pour satisfaire votre demande.</p>

				<p>Toutefois, il est possible que les disponibilités de nos moniteurs ne puissent pas garantir votre 1er choix.</p>

				<p>Enfin, si votre leçon devait être annulée en raison de la météo ou tout autre motif, le moniteur vous avertira le plus tôt possible et votre leçon sera re-planifiée en fonction de vos disponibilités, sans frais supplémentaires.</p>
			</div>
		</div>
	</div>
</section>